**/*.pth
**/*.pth.tar
**/*.ckpt
**/*.onnx
**/*.pt
SAM-6D/Data/Example/outputs/templates
SAM-6D/Data/Example/outputs/sam6d_results/*.json
SAM-6D/Data/Example/outputs/sam6d_results/*.npz
SAM-6D/Data/Example/outputs/sam6d_results/*.png